
<div class="toolbar-container">

  <div class="search-and-settings">

    <emp-ng-search-box (searchBoxChange)="onSearchClicked($event)">

    </emp-ng-search-box>

  </div>

<!--
  <button *empNgHasPermission="permissions.ALL"
    class="toolbar-item"
    title="Alerts"
    [ngClass]="{'activate': toolSelected === 'Alerts'}"
    (click)="onToolClicked('Alerts')">

    <mat-icon>notifications</mat-icon>

  </button>


  <button *empNgHasPermission="permissions.ALL"
    class="toolbar-item"
    title="Buscador"
    [ngClass]="{'activate': this.displayAsideRight}"
    (click)="onToolClicked('Search')">

    <mat-icon>stacked_bar_chart</mat-icon>

  </button>
-->
</div>
