<span>
  <input type="text" class="text-box picker"
         autocomplete="off" maxlength="11"
         #input
         [disabled]="disabled"
         [matDatepicker]="picker"
         [ngModel]="date"
         [min]="minDate"
         [class.invalid-control]="showError"
         (blur)="onBlur()"
         (change)="onInputChange(input.value)"
         (dateChange)="onChange(input.value)">
  <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="disabled"></mat-datepicker-toggle>
  <mat-datepicker #picker [disabled]="disabled"></mat-datepicker>
</span>
