<div class="explorer">

  <div class="primary"> 
<!--
    <emp-ng-card
      title="EMPIRIA  -  Panel de control"
      hint="Seleccionar una opción."
      [showCardHeaderFlat]="true"
      [disableClose]="true">

        <div class="card-info-container"
          fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">

          <ng-container *ngFor="let option of controlPanelOptionList">

            <div *empNgHasPermission="option.permission"
              class="card-info" fxFlex="0 1 calc(50% - 8px)" fxFlex.lt-md="100" fxLayoutAlign="space-around center">

              <div fxFlex>

                <span class="card-info-title">{{option.title}}</span>
                <span class="card-info-hint">{{option.description}}</span>

              </div>

              <button class="btn-primary" [style.minWidth.px]="120"
                (click)="onClickControlPanelOption(option)">
                {{option.actionTitle}}
              </button>

            </div>

          </ng-container>

        </div>

    </emp-ng-card>


-->
   
<insurance-contract></insurance-contract></div>

</div>
