<div class="main-layout">

  <emp-ng-spinner [service]="spinnerService" overlay='FullScreen'>

  </emp-ng-spinner>

  <!--<div class="top-bar">

  </div>-->

  <mat-sidenav-container>

<!--
    <mat-sidenav #sidenavLeft class="sidenav-left" mode="side" disableClose="true"
      [opened]="appLayoutConfig.displayAsideLeft">

    </mat-sidenav>
-->

    <mat-sidenav-content #sidenavContent class="content">

      <div fxLayout="column" fxFlexFill>

        <emp-ng-nav-bar fxFlex="none">

        </emp-ng-nav-bar>

        <emp-ng-header fxFlex="none" (action)="onAction($event)">

        </emp-ng-header>

        <div class="workarea" fxFlex>

          <router-outlet>

          </router-outlet>

        </div>

        <emp-ng-footer fxFlex="none" *ngIf="appLayoutConfig.displayFooter">

        </emp-ng-footer>

      </div>

    </mat-sidenav-content>

<!--
    <mat-sidenav #sidenavRight class="sidenav-right" mode="over" position="end" disableClose="true"
      [(opened)]="displayAsideRight">

      <button class="toolbar-item btn-collapse-sidenav-right"
        title="Cerrar herramienta"
        (click)="onCloseAsideRight()">
        <mat-icon>last_page</mat-icon>
      </button>

      <container-element [ngSwitch]="toolSelected" #tools_section>

        <emp-ng-search-tool *ngSwitchCase="'Search'">

        </emp-ng-search-tool>

        <ng-container *ngSwitchDefault>

          <div [style.width.px]="500">

          </div>

        </ng-container>

      </container-element>

    </mat-sidenav>
-->
  </mat-sidenav-container>

</div>
