<div [ngClass]="controlsAligned ? 'controls-container-aligned' : 'controls-container'" [style.top.px]="53">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex="25">

        <div class="input-icon-container">

          <input #filterInput type="text" class="text-box" name="filterInput" autocomplete="off"
            [(ngModel)]="filter"
            placeholder="Buscar en resultado..."
            (keyup.enter)="onFilterData()"
            (keyup.escape)="onClearFilter()">

          <mat-icon class="input-icon" (click)="onFilterData()">search</mat-icon>

        </div>

      </div>

      <div fxFlex fxLayoutAlign="end" [style.marginRight.px]="controlsAligned ? 0 : 8">

        <button *ngIf="showExportButton" class="btn"
          (click)="onExportButtonClicked()">
          Exportar
        </button>

      </div>

    </div>

  </div>

</div>
