<div fxLayout="column" fxFlexFill>

  <mat-divider *ngIf="!controlsAligned">

  </mat-divider>

  <div #controlsContainer *ngIf="executed" fxFlex="none">

    <emp-ng-data-table-controls
      [filter]="filter"
      [showExportButton]="showExportButton"
      [controlsAligned]="controlsAligned"
      (dataTableControlsEvent)="onDataTableControlsEvent($event)">

    </emp-ng-data-table-controls>

  </div>

  <div #tableContainer fxFlex>

    <cdk-virtual-scroll-viewport tvsItemSize="32" headerHeight="40" [bufferMultiplier]="0">

      <table mat-table [dataSource]="dataSource">

        <ng-container *ngFor="let column of columns; let i = index" [matColumnDef]="column.field">

          <th mat-header-cell *matHeaderCellDef class="nowrap"
            [ngClass]="{'text-align-right': column.type === dataTableColumnType.decimal}">
            {{column.title}}
          </th>

          <td mat-cell *matCellDef="let row;"
            [ngClass]="{'text-align-right': column.type === dataTableColumnType.decimal,
                        'nowrap': column.type === dataTableColumnType.text_nowrap,
                        'item-strikethrough': column.isColumnStrikethrough && row[column.fieldConditionStrikethrough]}">

            <ng-container [ngSwitch]="column.type">
              <ng-container *ngSwitchCase="dataTableColumnType.decimal">
                {{row[column.field] | empDecimal: column.digits}}
              </ng-container>
              <ng-container *ngSwitchCase="dataTableColumnType.date">
                {{row[column.field] | dateTimeFormat}}
              </ng-container>
              <ng-container *ngSwitchCase="dataTableColumnType.text_link">
                <a class="item-link nowrap" (click)="onItemLinkClicked(row)">
                  {{row[column.field]}}
                </a>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ row[column.field] }}
              </ng-container>
            </ng-container>

          </td>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class]="row[formatFieldName] ?? ''"
          [ngClass]="{'item-type-summary': summaryItemTypeList.includes(row.itemType),
                      'item-type-group':   groupItemTypeList.includes(row.itemType),
                      'item-type-total':   totalItemTypeList.includes(row.itemType),
                      'row-selected':      row === selectedEntry,
                      'selectable-row':    isClickableEntry(row)}"
          (click)="onRowClicked(row)">
        </tr>

      </table>

      <div *ngIf="!executed" class="text-not-found">
        {{notQueryExecutedText}}
      </div>

      <div *ngIf="executed && dataTable.entries.length === 0" class="text-not-found">
        No se encontraron registros con el filtro proporcionado.
      </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
